{% extends 'base/base1.html' %}
{% load widget_tweaks %}

{% block title %}
    <title>Update Product Details</title>
{% endblock title %}

{% block navbar %}
    {% include 'base/seller_nav.html' %}
{% endblock navbar %}

{% block content %}
    <div class="container mt-4">
        <h3>{{ product_name }}</h3>
        <form class="container mt-4" method="POST" action="{% url 'product_info_update' id %}">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field | add_class:'form-control' }}
            {% endfor %}
            <button class="btn btn-primary mt-3" type="submit">Update</button>
        </form>
    </div>
{% endblock content %}