{% extends 'base/base1.html' %}

{% block title %}
    <title>Products List</title>
{% endblock title %}

{% block navbar %}
    {% include 'base/seller_nav.html' %}
{% endblock navbar %}

{% block content %}
    <div>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th class="col-1" scope="col">No.</th>
                <th class="col-2" scope="col">Name</th>
                <th class="col-1" scope="col">Category</th>
                <th class="col-1" scope="col">MRP</th>
                <th class="col-1" scope="col">Selling Price</th>
                <th class="col-1" scope="col">Stoke</th>
                <th class="text-center" scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr class="bg-light">
                    <th>{{ forloop.counter }}</th>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.product_type }}</td>
                    <td>{{ product.product_MRP }} Rs.</td>
                    <td>{{ product.product_selling_price }} Rs.</td>
                    <td>{{ product.product_stoke }}</td>

                    <td class="row text-center">
                        <a class="col-3 m-2 btn-sm btn-primary text-center anchor-class"
                           href="{% url 'product_info_update' product.id %}">
                            ADD MORE INFO
                        </a>

                        <a class="col-3 m-2 btn-sm btn-warning anchor-class"
                           href="{% url 'product_stoke_update' product.id %}">UPDATE DETAILS</a>

                        <a class="col-2 m-2 btn-sm btn-secondary anchor-class"
                           href="{% url 'add_product_image' product.id %}">
                            IMAGES
                        </a>

                        <div class="form-group col-2 m-2">
                            <label for="live_check{{ forloop.counter }}">Live</label>
                            <input
                                    type="checkbox" name="live_checkbox" id="live_check{{ forloop.counter }}"
                                    value="{{ product.id }}" {% if product.is_product_live %}checked{% endif %}
                            />
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}