{% extends 'base/base1.html' %}
{% load widget_tweaks %}

{% block title %}
    <title>Register Your Shop</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <h1 style="font-family: Roboto;">Start's Your Business Online Today</h1>
        <form id="shopform" method="POST" action="{% url 'shop_owner_registration' %}">
            {% csrf_token %}
            {% for field in form1 %}
                {{ field.label_tag }}
                {{ field | add_class:'form-control' }}
            {% endfor %}
            <button class="btn btn-success mt-3" type="submit">Next</button>
        </form>
    </div>
{% endblock content %}