{% extends 'base/base1.html' %}

{% block title %}
    <title>Complete Order</title>
{% endblock title %}

{% block navbar %}

{% endblock navbar %}

{% block content %}
    <div class="container-md mt-5">
        <h2>Choose Delivery Address</h2>

        <div id="address-row" class="row">
            {% for add in address %}
                <div id="address-box" class="col-10 col-md-5 m-3">
                    <h3>{{ name.title }}</h3>
                    <h5>{{ add.title }}</h5>
                    <h5>{{ mobile_no }}</h5>
                    <div class="flex-column">
                        <button class="btn btn-primary">Edit</button>
                        <button class="btn btn-warning float-right">Deliver to this address</button>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock content %}